<div id="<%= dom_id shopper %>">
  <p>
    <strong>Name:</strong>
    <%= shopper.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= shopper.email %>
  </p>

  <p>
    <strong>Pass:</strong>
    <%= shopper.pass %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= shopper.phone %>
  </p>

</div>
