<div id="<%= dom_id retailer %>">
  <p>
    <strong>Name:</strong>
    <%= retailer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= retailer.email %>
  </p>

  <p>
    <strong>Pass:</strong>
    <%= retailer.pass %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= retailer.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= retailer.address %>
  </p>

</div>
