<h1>New cart</h1>

<%# <%= render "form", cart: @cart %>
<%# <%= render @product %>
<%= form_with(model: @product) do |form| %>
<div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.text_field :quantity %>
</div>
<div>
<%= image_tag("#{@url}", width: 180, heigth: 180) %>
</div>
  <div>
    <%= form.submit value="Add to Cart" %>
  </div>

<% end %>
<br>

<div>
  <%= link_to "Back to carts", carts_path %>
</div>
